<IfModule mod_rewrite.c>
#    Options +FollowSymLinks
    RewriteEngine on

     #PHP configuration
#    php_value upload_max_filesize = 100M
#    php_value post_max_size = 105M
#    php_value max_execution_time = 500
#    php_value max_input_time = 500
#
#    php_value memory_limit 256
#    php_value upload_max_filesize 128M
#    php_value max_file_uploads 128M
#    php_value post_max_size 128M
#    php_value max_execution_time 1024
#    php_value max_input_time 1000
#    php_value memory_limit 256M
#
#    RewriteCond %{HTTPS} !=on
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

    #Remove a trailing slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [R=301,L]

    #Redirect important directories
    RewriteCond %{REQUEST_URI} !application/resources/
    RewriteCond %{REQUEST_URI} !uploads/
    RewriteCond %{REQUEST_URI} !vendors/
    RewriteCond %{REQUEST_URI} !www/
    RewriteRule (.*) www/$1 [L]

    #Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ www/index.php/$1 [QSA,L]
</IfModule>