body {
    font-size: 1em;
    font-family: "Courier New";
    margin: 1%;
    padding: 1%;
}

img {
    width: 20%;
    margin-right: 1%;
}

hr {
    margin-top: 3%;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}